{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-4">
        <h1>Modifier</h1>
        {{ include('gestionnaire/burger/_formulaire.html.twig', {form: form, button: 'Modifier'}) }}
    </div>

{% endblock %}



